/* Homepage */
.home-header {
    height: calc(100vh - 55px);
    width: 100%;
    background-image: url("../img/header.jpg");
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .header-name {
    flex: 3;
    color: #fff;
    font-size: 5vmax;
    display: flex;
    align-items: center;
  }
  
  .scroll-arrow {
    flex: 1;
    display: flex;
    align-items: center;
  }
  
  .info-img img {
    height: 95%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .quote-text {
    background-color: #000;
    padding: 4vmax 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  span.quote {
    color: rgb(175, 175, 175);
    width: calc(100vw - 20%);
    font-size: 3vmin;
    font-style: italic;
    font-weight: 600;
    text-shadow: 3px 3px 5px rgba(145, 145, 145, 0.5);
  }

  .info-text {
    height: 100vh;
    color: #fff;
    background-image: url("../img/launches-rocket.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
  }

  div.info {
    width: calc(100vw - 50%);
    margin: 3vmax 0;
    padding: 0 30px;
    text-shadow: 3px 3px 5px rgba(170, 170, 170, 0.5);
  }

  div.info h1 {
    margin: 2vmax 0;
    font-size: 4vmax;
  }

  p.info {
    border: none;
    padding-top: 2vmax;
    font-size: 1.5vmax;
  }

  span.bold {
    font-weight: bold;
  }
  
  .rocket-info {
    color: #fff;
    height: 100vh;
    background-image: url("../img/mission-slider-02.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 2vmax;

    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .go-to-rocket {
    margin-top: 20px;
    padding: 0 20px;
  }

  .go-to-rocket h1 {
    font-size: 4.5vmax;
    margin-bottom: 2vmax;
  }
  
  .launches-info {
    color: #fff;
    height: 100vh;
    background-image: url("../img/human_spaceflight_moon.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 2vmax;

    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .go-to-launches {
    padding: 0 20px;
    text-align: right;
  }

  .go-to-launches h1 {
    font-size: 4.5vmax;
    margin-bottom: 2vmax;
  }
  
  /* End Homepage */
  
  /* arrow */
  html body [data-ca3_iconfont="ETmodules"]::before {
    font-family: "ETmodules";
  }
  [data-ca3_icon]::before {
    font-weight: normal;
    content: attr(data-ca3_icon);
  }
  
  .ca3-scroll-down-arrow {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .ca3-scroll-down-link {
    height: 60px;
    width: 60px;
    line-height: 60px;
    color: #fff;
    text-align: center;
    font-size: 70px;
    z-index: 1;
    text-decoration: none;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  
    -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
    -moz-animation:    ca3_fade_move_down 2s ease-in-out infinite;
    animation:         ca3_fade_move_down 2s ease-in-out infinite;
  }
  
  
  /*animated scroll arrow animation*/
  @-webkit-keyframes ca3_fade_move_down {
    0%   { -webkit-transform:translate(0,-10px); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -webkit-transform:translate(0,30px); opacity: 0; }
  }
  @-moz-keyframes ca3_fade_move_down {
    0%   { -moz-transform:translate(0,-10px); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -moz-transform:translate(0,30px); opacity: 0; }
  }
  @keyframes ca3_fade_move_down {
    0%   { transform:translate(0,-10px); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { transform:translate(0,30px); opacity: 0; }
  }
  /* end arrow */

  @media only screen and (max-width: 800px) {
      div.info {
        width: calc(100vw - 30%);
      }

      p.info {
        border: none;
        padding-top: 2vmax;
        font-size: 2vmax;
      }
  }