tr {
    color: white;
    text-align: center;
}

Select {
    background-color: rgba(255,255,255,0.5);
}

.listTable:hover {
    background-color: rgb(255, 187, 0);
    color: #000;
}

.launches-cont {
    background-image: url("../img/FH_5.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: calc(100vh - 55px);
    padding: 2% 0;
}

.filter-select {
    padding-bottom: 2%;
    padding-right: 1vmax;
    padding-left: 1vmax;
}

.launches-table thead {
    font-size: 2.3vmin;
}

.launches-table tbody {
    font-size: 2vmin;
}

.launches-table td, .launches-table th {
    padding: 2vmin !important; 
}

@media only screen and (max-width: 500px) {
    .launches-table thead {
        font-size: 2.5vmin;
    }

    .launches-table tbody {
        font-size: 2.5vmin;
    }
}
