.launches-detail {
    height: calc(100vh - 80px);
    color: #fff;
    padding: 2vmin 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

/* Image */
.mission-img {
    width: 100%;
    padding: 2vmin 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mission-patch {
    width: 25vmax;
}

.mission-detail-side {
    display: flex;
    align-items: center;
}

.mission-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vmin 0;
}

.mission-detail h1 {
    font-size: 2.5vmax;
    font-weight: bold;
    margin-bottom: 2vmin;
}

.mission-detail h5 {
    font-size: 1.3vmax;
    line-height: 1.5;
    margin: 1vmin 0;
}

.mission-detail p {
    font-size: 1.1vmax;
    margin-bottom: 1vmin;
}

/* Table */
.detail-table tr {
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
    width: 2vmax;
}

.detail-table td {
    padding: 10px 0;
}

td.detail-sub {
    width: 50%;
    text-align: left;
    text-transform: uppercase;
    padding-right: 1.6vmax;
}

td.detail-value {
    width: 50%;
    text-align: right;
    padding-left: 1.6vmax;
}

.mision-rocket-panel {
    display: flex;
    justify-content: center;
    padding: 3vmin 0;
}

.inner-mision-rocket {
    text-align: center;
}

.inner-mision-rocket h1 {
    font-size: 2.5vmax;
    font-weight: bold;
    margin-bottom: 1vmin;
}

.inner-mision-rocket p {
    font-size: 1.1vmax;
    margin-bottom: 2.5vmin;
}

.mission-detail-panal {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 3vmin 0;
}

.under-mission-detail {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.launches-detail div.row {
    width: 100vw;
}

@media only screen and (max-width: 767px) {
    .launches-detail {
        height: auto;
    }

    .mission-patch {
        width: 30vmax;
    }

    .mission-detail {
        align-items: center;
        text-align: center;
    }

    .mission-detail h5 {
        font-size: 1.5vmax;
    }
    
    .mission-detail p {
        font-size: 1.2vmax;
    }

    .mission-detail-panal {
        justify-content: center;
    }
}