/* Swiper Slide */
.swiperPage{
    width: 100%;
    background-color: #555;
    color: #fff;

    height: calc(100vh - 55px);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

/* Table */
.detail-overview {
    padding: 0 7vmin;
    display: flex;
    flex-direction: column;
    width: calc(100vw - 50%);
}

.detail-overview h1 {
    font-size: 3.5vmax;
    font-weight: bold;
    margin-bottom: 4vmin;
}

.detail-overview h4 {
    font-size: 2vmax;
    margin-bottom: 1.8vmin;
}

.detail-table tr {
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
    width: 2vmax;
}

.detail-table td {
    font-size: 1.15vmax;
    padding: 10px 0;
}

td.detail-sub {
    text-align: left;
    text-transform: uppercase;
    padding-right: 1.6vmax;
}

td.detail-value {
    text-align: right;
    padding-left: 1.6vmax;
}

td.detail-value span {
    color: #888;
}

/* List */
.detail-list {
  list-style-type: none;
  padding: 0 4vmin;
}

/* Tab */
.tab-nav a {
    color: #fff;
    text-transform: uppercase;
    font-size: 1vmax;
}

.tab-nav a:hover {
    color: #fff;
}

.tab-nav a.active {
    font-weight: 700;
}

.content-tab {
    padding: 2vmin 0;
}

.inner-content-tab {
    /* padding: 0 7vmin; */
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inner-content-tab p {
    font-size: 1.5vmax;
    font-weight: 900;
    margin-bottom: 0;
}