.rocketImg {
    height: calc(100vh - 80px);
    width: 100%;
    color: lightgrey;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.inner-left-middle {
    padding: 0 5vmin;
    display: flex;
    flex-direction: column;
    width: calc(100vw - 50%);
}

.inner-left-middle h1 {
    font-size: 4vmax;
    font-weight: bold;
    margin-bottom: 4vmin;
}

.inner-left-middle p {
    font-size: 1.3vmax;
    margin-bottom: 5vmin;
}

.detail-table tr {
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
    width: 2vmax;
}

.detail-table td {
    font-size: 1.15vmax;
    padding: 10px 0;
}

td.detail-sub {
    text-align: left;
    padding-right: 1.6vmax;
}

td.detail-value {
    text-align: right;
    padding-left: 1.6vmax;
}

td.detail-value span {
    color: #888;
}

@media only screen and (max-width: 750px) {
    .inner-left-middle {
        width: calc(100vw - 40%);
    }
}